.edu-card{
    width: 20em;
    /* background-color: rgb(15, 6, 54); */
    /* background-color: rgb(11, 8, 51); */
    
    margin: 2%;
    padding: 2%;
    text-align: left;
    opacity: 0;
    animation: animate 1000ms  forwards;
}
@keyframes animate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.edu-hero{
    width: 100%;
    margin: 2% 0%;
    color: rgb(66, 109, 146);
}
.edu-hero >span:nth-child(2){
   text-align: left;
color: rgb(148, 144, 197);
  font-size: 1.5em;
  font-weight: 500;
  
}
.edu-card> p{
       font-weight: 500;
    margin: 5% 0%;
    font-size: 0.9em;
}
.year-of-comp{
    color: rgb(137, 139, 14);
 
}
.edu-board,.edu-percent{
   color: rgb(111, 110, 177);
    
}
@media (max-width:800px){


.edu-card{
    /* width: 20em; */
    /* background-color: rgb(15, 6, 54); */
    /* background-color: rgb(11, 8, 51); */
/*     
    margin: 2%;
    padding: 2%;
    text-align: left;
    opacity: 0;
    animation: animate 1000ms  forwards; */
     text-align: center;
}
.validate-cert a{
color: rgb(78, 79, 158);
    text-decoration: underline;
}
}