.header-cont {
  width: auto;
  background: #0b0741;
  display: flex;
  justify-content: space-between;
  padding: 1% 7%;
  align-items: center;
}
.nav-list-cont {
  display: flex;

  width: 100%;
  list-style: none;
  justify-content: flex-end;
  font-weight: 500;
  color: rgb(202, 202, 202);
  
}
.logo{
    font-weight: 600;
    font-size: 1.3em;
    color: rgb(235, 235, 235);
}
.logo::first-letter{
    font-size: 2em;
    color: orange;
    /* background-color: rgb(9, 66, 116);
    padding: 5%;
    margin: 0% 2%; */
}
.nav-item{
    margin: 0% 1%;
}